body
{
    background-color: #562717;
}
.page
{
    width: 80%;
    height: 100%;
    max-width: 960%;
    background-color: #fddca9;
    margin: 50px auto;
    text-align: center;
    border-radius: 5px;
    
}

/* todo: make animations and arrows have litte bounce */
h1,h2,h3
{
    padding: 20px;
    margin: auto;
    color:#FEA712;  
    font-family: "Press Start 2P", system-ui;
}
h1{
    font:30px;
}
h2{
    font:25px;
}

h3{
    font:20px;
}

.keyArrows
{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    /* align-items: center; */
    /* background-color: #FDDCA9; */
    padding:0px 10px 30px 10px;
    margin: 20px 10% 10% 10%;
    font-size:90px;
}

.fa
{
   color: #C21717;
}


